name: Build Windows Package

on:
  workflow_dispatch:  # run on manual trigger
  push:               # run on push events
  pull_request:       # run on pull requests
  schedule:           # check once a week, maybe the dependencies are broken
    - cron:  '25 1 * * 2'

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
    - name: Cloning TextTest
      uses: actions/checkout@v4

    - name: Cloning Meld
      uses: actions/checkout@v4
      with:
        repository: GNOME/meld
        ref: '3.22.0'
        path: meld

    - name: Cloning Adwaita Icons
      uses: actions/checkout@v4
      with:
        repository: GNOME/adwaita-icon-theme
        ref: '41.0'
        path: adwaita

    - uses: msys2/setup-msys2@v2
      with:
        update: true
        install: git mingw-w64-x86_64-python-setuptools mingw-w64-x86_64-python-cx-freeze mingw-w64-x86_64-python-gobject mingw-w64-x86_64-python-pytest mingw-w64-x86_64-python-pip mingw-w64-x86_64-python-matplotlib mingw-w64-x86_64-python-certifi mingw-w64-x86_64-python-psutil mingw-w64-x86_64-python-yaml mingw-w64-x86_64-gtksourceview4 mingw-w64-x86_64-gsettings-desktop-schemas mingw-w64-x86_64-diffutils glib2-devel intltool patch

    - name: Moving meld code and icons into the right place
      shell: msys2 {0}
      run: |
        patch -p0 -R < meld_build_helpers.patch
        patch -p1 -d meld < python313_compat.patch
        cp -a bin texttestlib setup_win32.py meld
        cp wininstall/*.ico meld/data/icons
        cp -aL adwaita/Adwaita /usr/share/icons

    - name: Building package
      shell: msys2 {0}
      run: |
        cd meld
        pip3 install distro
        gdk-pixbuf-query-loaders --update-cache
        glib-compile-schemas data
        python3 setup_win32.py bdist_dumb bdist_msi

    - uses: actions/upload-artifact@v4
      with:
        name: Windows_installer
        path: meld/dist/*.msi

    - uses: actions/upload-artifact@v4
      with:
        name: Windows_zip
        path: meld/dist/*.zip
