name: Build Windows Package

on:
  push:
  workflow_dispatch:
  schedule:        # check once a week, maybe the dependencies are broken
    - cron:  '25 1 * * 2'

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
    - name: Cloning TextTest
      uses: actions/checkout@v2

    - name: Cloning Meld
      uses: actions/checkout@v2
      with:
        repository: GNOME/meld
        ref: '3.20.1'
        path: meld

    - name: Cloning Adwaita Icons
      uses: actions/checkout@v2
      with:
        repository: GNOME/adwaita-icon-theme
        ref: '41.0'
        path: adwaita

    - uses: msys2/setup-msys2@v2
      with:
        update: true
        install: git mingw-w64-x86_64-python3-setuptools mingw-w64-x86_64-python3-cx_Freeze mingw-w64-x86_64-python3-gobject mingw-w64-x86_64-python3-pytest mingw-w64-x86_64-python3-pip mingw-w64-x86_64-python-matplotlib mingw-w64-x86_64-python-certifi mingw-w64-x86_64-python-psutil mingw-w64-x86_64-gtksourceview3 mingw-w64-x86_64-gsettings-desktop-schemas mingw-w64-x86_64-diffutils glib2-devel intltool

    - name: Moving meld code and icons into the right place
      shell: msys2 {0}
      run: |
        cp -a bin texttestlib setup_win32.py meld
        cp wininstall/*.ico meld/data/icons
        cp -a adwaita/Adwaita /usr/share/icons

    - name: Building package
      shell: msys2 {0}
      run: |
        cd meld
        pip3 install distro
        gdk-pixbuf-query-loaders --update-cache
        glib-compile-schemas data
        python3 setup_win32.py bdist_dumb bdist_msi
    - uses: actions/upload-artifact@v2
      with:
        name: Windows installer
        path: meld/dist/*.msi
    - uses: actions/upload-artifact@v2
      with:
        name: Windows zip
        path: meld/dist/*.zip
